
body {background-image: url("../images/background.png");
    background-color: gray;
    background-size: cover;
    padding: 0px;
    margin: 0; 
}

header {background-color: white;
    height: 100px;
    padding: 0;
    margin: 0 auto; 
}

h1 span { background-color: #4aaaa5; 
    padding:10px; 
}

h1 {color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    bottom: 0px;
    left: 175px; 
    float: left
}

.main-nav {list-style: none;
    margin-top:30px;
    padding: 30px;
    float:right;
    vertical-align: middle;
    
}

.main-nav li { display: inline-block; 
}

.main-nav a { text-decoration: none;
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px
}

.container  {
    background-color: white; 
    position: absolute;
    margin-bottom: 200px;
    top: 200px;
    left: 275px;
    width: 60%;
}

h2{ font-family: 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 20px;
    margin: 20px;
}

#main-bio {font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 20px
}

#bio-image { width: 15%;
    margin: 20px;
    float: left;
}

.footer { position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top:#4aaaa5;
    border-top-style: solid; 
    background-color: #666666;
    color: white;
    text-align: center;   
}

.ContactForm  {
    background-color: white; 
    position: absolute;
    margin-bottom: 200px;
    padding: 20px;
    top: 200px;
    left: 275px;
    width: 60%;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #777777;
  }

#name {
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 10px;
  }

  #email {
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 10px;
  }
  #message {
    display: block;
    width: 100%;
    height: 200px;
    margin-top: 8px;
    margin-bottom: 10px;
  }

  #submit {
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    width: 80px;
    height: 30px;
  }

  .pimages {
    background-color: white; 
}
  
  h3 { font-family: 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 20px;
    margin: 20px;
    border-bottom-style: solid;
    border-color: #777777
}


  #architecture {
    position: absolute;
    width: 25%;

   
  }
  #cooking {
    display: block;
    position: absolute;
    top: 145px;
    right: 398px;
    width:25%
  
  }
  #dancing {
    display: block;
    position: absolute;
    top: 350px;
    left: 40px;
   width: 25%
  }
  #interiors {
    display: block;
    position: absolute;
    top: 350px;
    right: 398px;
    width: 25%
  }
  #nature {
    display: block;
    position: absolute;
    top: 550px;
    left: 40px;
    width: 25%
  }

  #uva{
    display: block;
    position: absolute;
    top: 550px;
    left: 40px;
    width: 25%
  }



